<section>
  <h1>Bem Vindo de Volta!</h1>
  <p>Faça seu Login</p>
  <p> {{ mensagemErro }}</p>
  <form
    #formLogin="ngForm"
    class="formulario-login"
    id="formulario-login"
    (submit)="login(formLogin)"
  >
    <div>
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        ngModel
        #email="ngModel"
        required
        pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$"
        [(ngModel)]="contaDTO.email"
      />
      <div *ngIf="(email?.touched && email?.invalid) || email?.dirty">
        <app-mensagens-erro
          *ngIf="email?.errors?.['required']"
          mensagem="Email é obrigatório"
        ></app-mensagens-erro>
        <app-mensagens-erro
          *ngIf="email?.errors?.['pattern']"
          mensagem="Email inválido, use o padrão 'exemplo@exemplo.com'"
        ></app-mensagens-erro>
      </div>
    </div>
    <div>
      <label for="senha">Senha:</label>
      <input
        type="password"
        name="senha"
        ngModel
        #senha="ngModel"
        pattern="^(?=.*[A-Z])(?=.*[!#@$%&])(?=.*[0-9])(?=.*[a-z]).{6,15}$"
        required
      />
      <div *ngIf="(senha?.touched && senha?.invalid) || senha?.dirty">
        <app-mensagens-erro
          *ngIf="senha?.errors?.['required']"
          mensagem="Senha é obrigatório"
        ></app-mensagens-erro>
        <app-mensagens-erro
          *ngIf="senha?.errors?.['pattern']"
          mensagem="Sua senha tem que conter:</br>
           - 6-15 caracteres </br>
           - Deve ter no mínimo uma letra maiúscula e minúscula</br>
           - Deve ter no mínimo 1 número</br>
           - Deve ter no mínimo 1 caracter especial(!#@$%&) "
        ></app-mensagens-erro>
      </div>
    </div>
    <button type="submit" id="button-entrar">Entrar</button>
    <p>Não tem uma conta? <button (click)="criarConta()">Clique aqui</button></p>
  </form>
</section>
