header {
  background-color: rgb(245, 245, 245); /* Define a cor de fundo do header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 5); /* Adiciona uma sombra suave */
  height: 4em;
  margin-top: 0.5em;
  display: flex;
  align-items: flex-end;
}
h1{
  font-weight: 700;
  font-size: 4em;
}
