.ng-touched.ng-invalid:not(form) {
  border-color: red;
  color: red;
}
section{
  margin-top: 1em;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
form {
  height: 23%;
  padding: 1em;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0.1em;
  padding-top: 1em;
  padding-left: 0.5em;
  color: #002B5B;
}
p, label{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #002B5B;
}
input{
width: 60%;
padding-top: 1em;
border: none;
border-bottom: 2px solid #ccc;
font-size: 90%;
}
input:focus{
  outline: none;
  border-bottom-color: #1A5F7A;
  transition: all 0.2s ease;
}
button {
  background-color: #1A5F7A;
  border-style: none;
  border-radius: 3px;
  color: rgb(245, 245, 245);
  font-size: 90%;
  transition: #1A5F7A 0.3s ease;
  margin-left: 3%;
  margin-top: 1em;
  font-family: 'Poppins', sans-serif;
}
button:hover {
  background-color: #159895;
}
