<section>
  <h1>Editar Conta</h1>
  <form
    class="formulario-editar"
    id="formulario-editar"
    #formEditar="ngForm"
    (submit)="editarConta(formEditar)"
  >
    <div>
      <label for="nome" class="label">Nome:</label>
      <input
        id="nome"
        name="nome"
        class="campo-form"
        ngModel
        required
        minlength="3"
        #nome="ngModel"
        [(ngModel)]="conta.nome"
      />
      <div *ngIf="(nome?.touched && nome?.invalid) || nome?.dirty">
        <app-mensagens-erro
          *ngIf="nome?.errors?.['required']"
          mensagem="Nome é obrigatório"
        ></app-mensagens-erro>
        <app-mensagens-erro
          *ngIf="nome?.errors?.['minlength']"
          mensagem="Nome precisa conter mais que 3 caracteres"
        ></app-mensagens-erro>
      </div>
    </div>
    <div>
      <label for="sobrenome">Sobrenome:</label>
      <input
        type="text"
        name="sobrenome"
        ngModel
        required
        minlength="3"
        #sobrenome="ngModel"
        [(ngModel)]="conta.sobrenome"
      />
      <div
        *ngIf="(sobrenome?.touched && sobrenome?.invalid) || sobrenome?.dirty"
      >
        <app-mensagens-erro
          *ngIf="sobrenome?.errors?.['required']"
          mensagem="Sobrenome é obrigatório"
        ></app-mensagens-erro>
        <app-mensagens-erro
          *ngIf="sobrenome?.errors?.['minlength']"
          mensagem="Sobrenome precisa conter mais que 3 caracteres"
        ></app-mensagens-erro>
      </div>
    </div>
    <div>
      <label for="telefone">Telefone:</label>
      <input
        name="telefone"
        type="text"
        ngModel
        #telefone="ngModel"
        required
        pattern=""
        [(ngModel)]="conta.telefone"
      />
      <div *ngIf="(telefone?.touched && telefone?.invalid) || telefone?.dirty">
        <app-mensagens-erro
          *ngIf="telefone?.errors?.['required']"
          mensagem="Telefone é obrigatório"
        ></app-mensagens-erro>
        <app-mensagens-erro
          *ngIf="telefone?.errors?.['pattern']"
          mensagem="Telefone inválido, use padrão (xx) xxxxx-xxxx"
        ></app-mensagens-erro>
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        ngModel
        #email="ngModel"
        required
        pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$"
        [(ngModel)]="conta.email"
      />
      <div *ngIf="(email?.touched && email?.invalid) || email?.dirty">
        <app-mensagens-erro
          *ngIf="email?.errors?.['required']"
          mensagem="Email é obrigatório"
        ></app-mensagens-erro>
        <app-mensagens-erro
          *ngIf="email?.errors?.['pattern']"
          mensagem="Email inválido, use o padrão 'exemplo@exemplo.com'"
        ></app-mensagens-erro>
      </div>
    </div>
    <button type="submit" class="button-form">Editar Conta</button>
    <button (click)="cancelar()" class="button-form">Cacelar</button>
  </form>
</section>
