.buttons{
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-left: 2em;
}
button {
  background-color: #1A5F7A;
  border-style: none;
  border-radius: 3px;
  color: rgb(245, 245, 245);
  font-size: 1em;
  transition: #1A5F7A 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
button:hover {
  background-color: #159895;
}
