.listar-transacao{
  margin-top: 1em;
}
.mat-elevation-z8 th, td{
  text-align: center;
  font-weight: 500;
}
.mat-column-descricao{
  border-right: 1px solid #e0e0e0;
  width: 20%;
  padding: 1em;
}
.mat-column-tipo{
  border-right: 1px solid #e0e0e0;
  width: 20%;
  padding: 1em;
}
.mat-column-valor{
  border-right: 1px solid #e0e0e0;
  width: 20%;
  padding: 1em;
}
.mat-column-button-editar{
  border-right: 1px solid #e0e0e0;
  width: 20%;
  padding: 1em;
}
.mat-column-button-deletar{
  border-right: 1px solid #e0e0e0;
  width: 20%;
  padding: 1em;
}
button {
  background-color: #1A5F7A;
  border-style: none;
  border-radius: 3px;
  color: rgb(245, 245, 245);
  font-size: 1em;
  transition: #1A5F7A 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
button:hover {
  background-color: #159895;
}
